---
import styles from "../styles.sass"
---

<html lang="en">
  <!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/ico" href="/src/assets/favicon.ico" />
    <title>Sink's place</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto+Mono:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head> -->
  <body>
    <slot />
  </body>
</html>