---
import ThemeToggler from "./ThemeToggler.astro";
const { routes, currentPath } = Astro.props;
---

<div id="sidebar">
  <ThemeToggler client:idle />

  <h1>sink's place</h1>
  <h2>Pages:</h2>
  <ul>
    {routes.map((route) => (
      <li>
        <a
          class={route.path === currentPath ? "active" : ""}
          href={route.path}
        >
          {route.name}
        </a>
      </li>
    ))}
  </ul>

  <div style="flex: 1" />

  <p id="sbar_bottomtext">Built with Astro and VSCode</p>
</div>