---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CrossAni">

    <h2>CrossAni</h2>

    <p>A silky smooth declarative animation library for the web</p>


    <p><em>
        Fun fact: CrossAni powers the animation of my pfp on the about me page!
        <a href="https://github.com/yellowsink/website-v2/blob/master/src/components/AnimatedPfp.astro">(See code)</a>
    </em></p>

</BaseLayout>