---
const routes: [string, string, string, boolean?][] = [
	["/", "<root>", "My website"],
	["https://f.yellows.ink", "f", "File host for me + friends"],
	["https://prox.yellows.ink", "prox", "HTTP mirror"],
	["https://lnk.yellows.ink", "lnk", "Link shortener"],
	["https://ssst.yellows.ink", "ssst", "A mysterious timer thingy"],
	["https://aart.yellows.ink", "aart", "A mirror for Cover Art Archive"],
	["https://michiru.yellows.ink", "michiru", "My own server :)"],
	["https://michiflare.yellows.ink", "michiflare", "Michiru via Cloudflare"],
	["https://michiscale.yellows.ink", "michiscale", "Headscale control plane"],
	["https://mail.yellows.ink", "mail", "Email *@yellows.ink"],
	["https://qsgcount.yellows.ink", "qsgcount", "Analytics infrastructure"],
	["https://cloud.yellows.ink", "cloud", "ownCloud"],
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<title>yellows.ink {">"} index</title>
	</head>
	<body class=":uno: h-dvh m-0 p-6 bg-black text-white font-plexmono flex flex-col">
		<h1 class="text-center m-0 mb-6 text-2xl">yellows.ink {">"} Index of /</h1>

		<div class=":uno: b-2px b-solid b-white flex-1">
			<div class=":uno: m-2 children:(pl-2 grid grid-cols-[1fr_1fr_2fr] transition-duration-100 transition-[color,background-color] hover:(text-black bg-white))">
				{
					routes.map(([url, display, info]) => (
						<div>
							<a href={url}>{display}</a>
							<a href={url}>{info}</a>
						</div>
					))
				}
			</div>
		</div>

		<p class="text-right">By Hazel Atkinson // Yellowsink 2022~25</p>

		<style lang="sass" is:global>
			// we dont pull in styles.sass here
			*
				box-sizing: border-box

			a
				color: currentColor
				text-decoration: none

			@keyframes scan
				to
					transform: translateY(-1px)

			// incomplete ver of the CRT effect taken from
			// https://aleclownes.com/2017/02/01/crt-display.html
			body::before
				content: " "

				@apply block absolute top-0 left-0 bottom-0 right-0 z-2 pointer-events-none

				background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%)
				background-size: 100% 2px
				animation: scan 60ms infinite
		</style>
	</body>
</html>
