---
import BaseLayout from "../layouts/BaseLayout.astro";

import PayButton from "../components/PayButton.astro";
---

<BaseLayout title="Payment Info">
	<h1>Payment Info</h1>

	<p>Need to send me money? Relevant info here.</p>
	<p>
		My preferences, from left to right, are:
		<div id="prefs-table">
			<em><a href="https://en.wikipedia.org/wiki/Faster_Payment_System_(United_Kingdom)">UK</a> senders:</em>
			<div>
				<img src="/icons/pay/wise.svg" />
				<img src="/icons/pay/paypal.svg" class="noinv" />
				<img src="/icons/pay/bank.svg" />
				<img src="/icons/github.svg" />
			</div>

			<em
				><a href="https://en.wikipedia.org/wiki/Single_Euro_Payments_Area">EU / EEA</a>
				& <a href="https://en.wikipedia.org/wiki/ACH_Network">US</a> senders:</em
			>
			<div>
				<img src="/icons/pay/wise.svg" />
				<img src="/icons/pay/bank.svg" />
				<img src="/icons/pay/paypal.svg" class="noinv" />
				<img src="/icons/github.svg" />
			</div>

			<em>Crypto:</em>
			<div>
				<img src="/icons/pay/usdc.svg" />
				<img src="/icons/pay/litecoin.svg" />
				<img src="/icons/pay/monero.svg" />
			</div>
		</div>
	</p>
	<p><em>Account required for Wise, PayPal, and Github Sponsors.</em></p>
	<div class="button-cont">
		<PayButton
			href="https://wise.com/pay/me/hazelleifa"
			icon="/icons/pay/wise.svg"
			inv
			name="Wise"
			account="@hazelleifa"
		/>
		<PayButton
			href="https://paypal.me/HazelAtkinsonYS"
			icon="/icons/pay/paypal.svg"
			name="PayPal"
			account="HazelAtkinsonYS"
		/>
	</div>
	<div class="button-cont">
		<PayButton
			href="https://github.com/sponsors/yellowsink"
			icon="/icons/github.svg"
			inv
			name="Github Sponsors"
			account="yellowsink"
		/>
		<PayButton href="https://ko-fi.com/yellowsink" icon="/icons/pay/kofi.svg" name="Ko-Fi" account="yellowsink" />
	</div>
	<div class="button-cont">
		<PayButton icon="/icons/pay/bank.svg" inv name="Bank Transfer" account="DM me" />
		<PayButton icon="/icons/pay/card.svg" inv name="Card Payment" account="DM me" />
	</div>
	<div class="button-cont">
		<PayButton icon="/icons/pay/litecoin.svg" inv name="Litecoin" account="DM me" />
		<PayButton icon="/icons/pay/usdc-polygon.svg" inv name="USDC (Polygon only)" account="DM me" />
		<PayButton href="#xmr" icon="/icons/pay/monero.svg" inv name="Monero" account="Click for address" />
	</div>

	<a id="xmr" style="display: none"></a>
	<div id="xmr-modal" style="display: none">
		<a href="#">Close</a>
		<p>
			<code
				>88H8A4 cVkBhE N6CcSr NKH957 1feScg xYccVz x7Xk93 9q2FkV Wbb6FD sCdpFm PyFKir JxxDXB 5QiYVL KpzcfS nzLt2B
				Ygxx1</code
			>
			<img src="/icons/pay/xmrqr.svg" />
		</p>
	</div>

	<h2>Charities</h2>
	<p>One of these excellent organisations probably needs your cash more than me :)</p>

	<p><a href="https://mermaidsuk.org.uk/?form=donate">Mermaids</a></p>
	<p><a href="https://crisisrelief.un.org/opt-crisis">UN Crisis Relief in occupied Palestine</a></p>
	<p><a href="https://pcrf1.app.neoncrm.com/forms/gaza-relief">Palestine Children's Relief Fund</a></p>
	<p><a href="https://www.doctorswithoutborders.org/">Médecins Sans Frontières</a> (Doctors Without Borders)</p>
</BaseLayout>

<style lang="sass">
	@use "sass:color"

	.button-cont
		display: flex
		flex-flow: row wrap
		gap: 0.5rem
		margin-bottom: 1.5rem

	#xmr:target ~ #xmr-modal
		display: block !important

	#xmr-modal
		border: #71717a 1px solid
		padding: .75rem

		a
			color: #212121 !important

			:global(.dark) &
				color: color.invert(#212121) !important

		img
			margin-top: 1rem
			transition: filter 150ms
			:global(.dark) &
				filter: invert(1)

	#prefs-table
		display: grid
		grid-template-columns: auto 1fr
		column-gap: .5rem
		margin-left: 1rem

		& > div > img
			display: inline-block
			height: .8em
			margin-left: 0.2rem
			transform: scale(1.2) translateY(2px)

			&:not(.noinv)
				transition: filter 150ms

				:global(.dark) &
					filter: invert(1)
</style>
