---
const { banner, label, link, uname } = Astro.props;
---

<a
	href={link}
	target={"_blank"}
	class="shadow-md bg-#f8f9fa dark:bg-#1f1f1f transition-all b b-solid b-#71717a dark:b-#a1a1aa p-8 w-auto h-40 flex justify-between decoration-none
		md:w-80 lt-md:flex-col text-inherit!"
>
	<img
		src={banner}
		class="h-12 mx-auto transition-filter dark:(filter invert hue-rotate-180) md:(h-75% self-center ml--2 mr-4 object-cover)"
	/>
	<div class="self-center text-center md:text-right">
		<h2>{label}</h2>
		<p>{uname}</p>
	</div>
</a>