---
import DefferedStyle from "./DefferedStyle.astro";
---

<DefferedStyle href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&display=swap" />

<div>
  <p class="pre-h">Definition</p>
  <p class="def-h">
    to yellowsink
    <span>verb</span>
  </p>
  <p>
    <i>To yellowsink</i> is to introduce horrific bugs into some code
    without noticing, while attempting to either write something
    from scratch or to "refactor" some existing, working code.
  </p>
  <p>
    It applies especially so if the perpetrator then attempts to justify
    why that bug is either intended behaviour, or was known and to be fixed
    very shortly.
  </p>
  <p>
    Most often used in the passive voice: <i>The project got yellowsinked.</i>
  </p>
</div>

<style lang="sass">
  @import "../vars"

  div
    @include transition-col

    $border-opacity: 0.4
    font-family: "IBM Plex Serif", serif
    border-left: 2px solid rgba(0, 0, 0, $border-opacity)
    padding: .25rem 0 .25rem 2rem
    margin-top: 2rem

    :global(.dark) &
      border-color: rgba(255, 255, 255, $border-opacity)

    .pre-h
      margin-bottom: -1rem
      opacity: 0.7

    .def-h
      font-size: 2.5rem
      font-style: italic
      margin: 0

      &>span
        font-size: 1.25rem
        font-style: normal
        opacity: 0.7
</style>
