---
import AnimatedPfp from "./AnimatedPfp.astro";
---

<div class="flex mb-10 font-heading">
	<AnimatedPfp size="7.5rem" />
	<div class="ml-6">
		<h2 class="m-0 text-3xl mb-2">About me</h2>
		<h3 class="m-0 text-xl italic">When awful ideas and free time collide.</h3>
	</div>
</div>