---
const { href, icon, name, account, inv } = Astro.props;
---

<a
	href={href}
	target={href?.startsWith("#") ? "" : "_blank"}
	class="shadow-md transition-all b b-solid b-#71717a p-3 w-60 h-min grid grid-cols-[3rem_1fr] gap-col-4 text-inherit! decoration-none"
>
	<img src={icon} class={inv ? "invertible" : ""} />
	<p><em>{name}</em></p>
	<p>{account}</p>
</a>

<style lang="sass">
	p
		@apply m-0!

	img
		@apply max-h-10 self-center row-start-1 row-span-2

		&.invertible
			@apply transition-filter dark:(filter invert)
</style>
