---
import ThemeToggler from "./ThemeToggler.astro";
const { routes, currentPath } = Astro.props;
const fixedPath = currentPath.length > 1 && currentPath.endsWith("/") ? currentPath.slice(0, -1) : currentPath;
---

<div id="sidebar" class="transition-colors text-text dark:text-text-dark flex flex-col p-20 pt-5 w-auto bg-#fafafa dark:bg-#181818 font-prose md:(h-dvh w-80 fixed) xl:w-120">
	<ThemeToggler />

	<h1 class="font-100 flex justify-center items-center gap-4">
		hazel
		<a href="/domain">+</a>
	</h1>
	<h2>Pages:</h2>
	<ul>
		{
			routes.map((route, i) => (
				<li>
					<a
						class={route.path === fixedPath ? "active" : ""}
						href={route.path}
						style={"page-transition-tag: _" + i}
					>
						{route.name}
					</a>
				</li>
			))
		}
	</ul>
</div>

<style lang="sass">
	@import "../vars.sass"

	#sidebar
		box-sizing: border-box
		box-shadow: 0 10px 15px -3px rgb(0 0 0/0.1),0 4px 6px -4px rgb(0 0 0/0.1)

		h1 a
			display: block
			width: 2rem
			height: 2rem
			color: currentColor
			text-decoration: none
			text-align: center
			line-height: 1em
			transition: color 150ms, background 150ms
			&:hover
				color: white
				background: black
				:global(.dark) &
					color: black
					background: white

		ul
			padding-left: 0
			margin: 0

		li
			list-style: none
			&> a
				@apply text-lg text-text dark:text-text-dark transition transition-property-[color,padding-left] italic decoration-none hover:pl-4

				&.active
					margin-left: 2rem
</style>
