---
import ThemeToggler from "./ThemeToggler.astro";
const { routes, currentPath } = Astro.props;
const fixedPath = currentPath.length > 1 && currentPath.endsWith("/") ? currentPath.slice(0, -1) : currentPath;
---

<div id="sidebar"
	  text="text dark:text-dark"
	  bg="#fafafa dark:#181818"
	  class="transition-colors flex flex-col p-20 pt-5 w-auto font-prose md:(h-dvh w-80 fixed) xl:w-120 shadow-lg">
	<ThemeToggler />

	<h1 class="font-100 flex justify-center items-center gap-4">
		hazel
		<a
			href="/domain"
			class="block w-8 h-8 color-unset decoration-none text-center line-height-1em transition-colors hover:(text-white dark:text-black bg-black dark:bg-white)"
		>+</a>
	</h1>
	<h2>Pages:</h2>
	<ul class="pl-0 m-0">
		{
			routes.map((route, i) => (
				<li class="list-none">
					<a
						class={route.path === fixedPath ? "active" : ""}
						href={route.path}
						style={"page-transition-tag: _" + i}
					>
						{route.name}
					</a>
				</li>
			))
		}
	</ul>
</div>

<style lang="sass">
	#sidebar
		box-sizing: border-box

		li > a
			@apply text-lg text-text dark:text-text-dark transition-[color,padding,margin] italic decoration-none hover:pl-4

			&.active
				margin-left: 2rem
</style>
