<div style="visibility:hidden" id="theme-toggler" class="flex mb-10 self-center">
	<div class="imgwrapper">
		<img src="/light.svg" alt="" />
		<img src="/light.svg" alt="" />
	</div>

	<button
		onclick="toggleTheme()"
		aria-label="Toggle Theme"
		class="cursor-pointer b-none p-0 w-12 h-6 rounded-full my-0 mx-2 flex items-center bg-#181818 dark:bg-#4a4a4a"
	>
		<div class="w-4 h-4 rounded-full bg-#f2f2f2 my-0 mx-1 dark:ml-7 transition-margin" />
	</button>

	<div class="imgwrapper">
		<img src="/dark.svg" alt="" />
		<img src="/dark.svg" alt="" />
	</div>

	<script>
		import { toggleTheme } from "../darkmode.js";
		// @ts-expect-error
		window.toggleTheme = toggleTheme;

		document.getElementById("theme-toggler").style.cssText = "";
	</script>
</div>

<style lang="sass">
	#theme-toggler
		&> .imgwrapper
			// fix spacing weirdness
			@apply w-24px h-24px

			&> *
				@apply absolute transition
				transition-property: background-color	, color, opacity

				// invert the back one
				&:first-child
					@apply filter invert

				// hide the front one
				:global(.dark) &:not(:first-child)
					@apply opacity-0
</style>
