.solidown-markdown-root h1 {
  /* equivalent to text-3xl */
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.solidown-markdown-root h2 {
  /* equivalent to text-2xl */
  font-size: 1.5rem;
  line-height: 2rem;
  /* equivalent to mt-6 */
  margin-top: 1.5rem;
}

.solidown-markdown-root p {
  /* equivalent to mt-4 */
  margin-top: 1rem;
}

.solidown-markdown-root img {
  /* equivalent to h-12 */
  height: 50px;
  /* equivalent to my-4 */
  margin: 1rem 0;
}

.solidown-markdown-root a {
  /* equivalent to text-blue-400 */
  color: #60a5fa;
}

.solidown-markdown-root li {
  list-style: square;
  margin-left: 2rem;
}

@keyframes growFade {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.solidown-markdown-root details[open] img {
  animation-name: growFade;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}

.solidown-markdown-root details a {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.solidown-markdown-root pre {
  font-family: "Roboto Mono", "monospace";
  font-size: .8rem;
  background-color: #333;
  color: white;
  padding: .5rem;
  border: 1px #aaa solid;
  white-space: pre-wrap; 
}

