@import "./vars"

#content
	table
		width: 100%

		td
			border: 1px solid #ccc
			padding: 0.5rem

			&:first-child
				font-weight: bold

	h2
		@apply text-3xl

	h3
		@apply text-2xl mt-4

	table, p, ul
		margin-top: .5rem



	code
		font-family: $font-code
		font-size: 0.9rem

	li
		list-style-type: disc
