---
import Sidebar from "../components/Sidebar.astro";
import Leaves from "../components/Leaves.astro";
import routes from "../routes.json";

import "../styles.sass";
//import "../transitions.sass";

// `content` for markdown pages.
const { title: rawTitle, content } = Astro.props;
const title = rawTitle ?? content.title;
const fullTitle = title ? `Sink's place - ${title}` : "Sink's place";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<title>{fullTitle}</title>

		{/* gotta get that shiny green tick fr fr */}
		<link rel="me" href="https://noc.social/@yellowsink" />
		<link rel="me" href="https://lethallava.land/@sink" />
		<link rel="me" href="https://github.com/yellowsink" />
		<link rel="me" href="https://git.io/ysink" />
		<link rel="me" href="https://en.pronouns.page/@yellowsink" />
	</head>
	<body id="root" class="flex min-h-dvh m-0 lt-md:flex-col">
		<Sidebar {routes} currentPath={Astro.url.pathname} />
		<div
			id="content"
			class="p-18 bg-#f1f3f5 dark:bg-#222 flex-1 font-prose md:ml-80 xl:ml-120 text-text dark:text-text-dark transition-colors">
			<slot />
		</div>

		<div id="temp_dark">
			<style is:inline>
				@media (prefers-color-scheme: dark) {
					#root > *,
					img,
					#pfp-container,
					.astro-code {
						filter: invert();
					}
				}
			</style>
			<style is:inline>
				* {
					transition-duration: 0ms !important;
				}
			</style>
		</div>

		<script>
			//import "../transitions.js";
			import { listen } from "quicklink";
			listen();
		</script>

		<Leaves />
	</body>
</html>
