---
import Sidebar from "../components/Sidebar.astro";
import routes from "../routes.json";

import "../styles.sass";

// `content` for markdown pages.
const { title: rawTitle, content } = Astro.props;
const title = rawTitle ?? content.title;
const fullTitle = title ? `Sink's place - ${title}` : "Sink's place";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <title>{fullTitle}</title>

    <link
      rel="stylesheet"
      href="https://cdn.esm.sh/jetbrains-mono/css/jetbrains-mono.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto+Mono:wght@100;300&display=swap"
    />
    
    {/* gotta get that shiny green tick fr fr */}
    <link rel="me" href="https://noc.social/@yellowsink" />
  </head>
  <body id="root">
    <Sidebar {routes} currentPath={Astro.url.pathname} />
    <div id="content">
      <slot />
    </div>

    <div id="temp_dark">
      <style is:inline>
        @media (prefers-color-scheme: dark) {
          #root > *,
          img,
          #pfp-container,
          .astro-code {
            filter: invert();
          }
        }
      </style>
      <style is:inline>
        * {
          transition-duration: 0ms !important;
        }
      </style>
    </div>

    <script>
      import "../darkmode.js";
      import "../transitions.js";
      import "../quicklink.js";
    </script>
  </body>
</html>
