---
import BaseLayout from "./BaseLayout.astro";
import AnimatedPfp from "../components/AnimatedPfp.astro";
import DefferedStyle from "../components/DefferedStyle.astro";
---

<BaseLayout title={Astro.props.title ?? Astro.props.content.title}>
  <DefferedStyle href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&display=swap" />

  <div class="top-wrap">
    <AnimatedPfp size="7.5rem" />
    <div>
      <h1>About me</h1>
      <h2>When awful ideas and free time collide.</h2>
    </div>
  </div>

  <slot />

  <div class="definition">
    <p class="pre-header">Definition</p>
    <p class="def-header">
      to yellowsink
      <span>verb</span>
    </p>
    <p>
      <i>To yellowsink</i> is to introduce horrific bugs into some code
      without noticing, while attempting to either write something
      from scratch or to "refactor" some existing, working code.
    </p>
    <p>
      It applies especially so if the perpetrator then attempts to justify
      why that bug is either intended behaviour, or was known and to be fixed
      very shortly.
    </p>
    <p>
      Most often used in the passive voice: <i>The project got yellowsinked.</i>
    </p>
  </div>
</BaseLayout>

<style lang="sass">
  @import "../vars"

  .top-wrap
    display: flex
    margin-bottom: 2.5rem
    font-family: "Roboto Mono", monospace

    div
      margin-left: 1.5rem

    h1
      font-size: 1.875rem !important
      line-height: 2.25rem !important
      margin: 0
      margin-bottom: .5rem
      font-weight: 400

    h2
      font-size: 1.25rem !important
      line-height: 1.75rem !important
      margin: 0
      font-style: italic
      font-weight: 400
  
  .definition
    @include transition-col

    $border-opacity: 0.4
    font-family: "IBM Plex Serif", serif
    border-left: 2px solid rgba(0, 0, 0, $border-opacity)
    padding: .25rem 0 .25rem 2rem
    margin-top: 2rem

    :global(.dark) &
      border-color: rgba(255, 255, 255, $border-opacity)

    .pre-header
      margin-bottom: -1rem
      opacity: 0.7

    .def-header
      font-size: 2.5rem
      font-style: italic
      margin: 0

      &>span
        font-size: 1.25rem
        font-style: normal
        opacity: 0.7
</style>
