@use "./page"
@import "./vars"

.shadow-md
  // okay sure I like WindiCSS sue me
  box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1)

body
  display: flex
  min-height: 100vh
  margin: 0

  @media (max-width: $md)
    flex-direction: column

.astro-code
  padding: .5rem
  padding-left: .75rem // looks a little more balanced due to font rendering madness
  border-radius: .25rem
  font-family: "Roboto Mono", monospace
